* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}


@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');


body {
	background-color: #333;
	font-family: 'Andika', sans-serif;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
}

.user {
	width: 100%;
	background-color: #363569;
	padding: 5px 0px;
	color: #ffffff;
}

.user__container {}

.user__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.game__name {
	font-weight: 700;
	font-size: 34px;
	line-height: 44px;
}

.user__name {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
}

.user__money {
	font-size: 18px;
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
}

.game-process__container {}

.input {
	display: block;
	width: 150px;
	height: 50px;
	margin: 0px 10px 0px 0px;
	text-align: center;
	font-size: 22px;
	border: 0px;
	border-radius: 10px;
	border: 2px solid #000000;
	background-color: rgb(27, 27, 27);
	color: #fff;
	font-family: 'Andika', sans-serif;
}

#main {
	display: flex;
	justify-content: center;
}

.tablo {
	position: relative;
	width: 497px;
	padding: 100px 0px;
	left: 50%;
	top: 0;
	display: inline-block;
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	margin: 70px 0px 10px 0px;
	border: 2px solid #000000;
	border-radius: 10px;
	transform: translate(-50%, 0%);
	background: url('../img/snow.gif') 0 0 / cover no-repeat;
}

.loos {
	font-size: 22px;
	color: rgb(233, 95, 95);
	font-weight: 600;
	margin: 0px 0px 10px 0px;
	display: none;
	text-align: center;
}

.loos._js-loos {
	display: block;
}

.button {
	width: 150px;
	height: 50px;
	font-size: 22px;
	font-weight: 700;
	background-color: rgb(0, 110, 255);
	border: 0px;
	box-shadow: 0px;
	border-radius: 10px;
	font-family: 'Andika', sans-serif;
}

.button span:last-child {
	display: none;
}

.button._js-active-bid span:first-child {
	display: none;
}

.button._js-active-bid span:last-child {
	display: block;
	color: #fff;
}

.button._js-active-bid {
	background: #ff4e51dc;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f9d523d8, #ff4e51cb);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f9d523d7, #ff4e51d7);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media (max-width: 720px) {
	.user {
		padding: 5px 10px;
	}
}

@media (max-width: 500px) {
	.tablo {
		width: 100%;
		font-size: 32px;
	}

	.game-process__container {
		padding: 0px 10px;
	}

	.button {
		flex: 1 1 50%;
		height: 60px;
	}

	.input {
		flex: 1 1 50%;
		width: 0px;
		height: 60px;
	}
}